@page
@model Website.Pages.EavDiModel
@{
    ViewData["Title"] = "EavDi";
}

<h1>Eav Dependency Injections</h1>


<h2>MapPath and more</h2>
<ol>
    <li>
        MapPath(2sxc): @Model.ServerPaths.FullAppPath("2sxc");
    </li>
    <li>
        ToAbsolute(2sxc): @Model.LinkPaths.ToAbsolute("2sxc"); <br />
        ToAbsolute("~/2sxc"): @Model.LinkPaths.ToAbsolute("~/2sxc") <br />
        ToAbsolute("/2sxc"): @Model.LinkPaths.ToAbsolute("/2sxc")
    </li>
    <li>
        Combine: @Model.LinkPaths.ToAbsolute("~/Portals/0", "2sxc") <br/>
        Combine: @Model.LinkPaths.ToAbsolute("/Portals/0/", "2sxc") <br/>
    </li>
</ol>

<h2>Inherits</h2>
<ol>
    <li>
        Current Type: @GetType().FullName
    </li>
    <li>
        Current Type: @GetType().BaseType.FullName
    </li>
</ol>