@using System.Linq
@using DotNetNuke.Common.Utilities
@using ToSic.SexyContent
@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage

<div style="max-width:640px; padding:20px;">
	<div sxc-app="sxcEditContentGroupDnnWrapper" id="sxcEditContentGroupDnnWrapper@(Dnn.Module.ModuleID)" ng-controller="editContentGroupDnnWrapperCtrl as vm">
		<edit-content-group edit="vm.edit"></edit-content-group>
	</div>
</div>


@{
	var appId = SexyContent.GetAppIdFromModule(Dnn.Module);
	var zoneId = SexyContent.GetZoneID(Dnn.Module.PortalID);
	var Sexy = new SexyContent(zoneId.Value, appId.Value, true, Dnn.Module.OwnerPortalID);
}

<script type="text/javascript">
	// Define some internal properties that the edit dialog must know (webforms bridge)
	$(document).ready(function() {
		$2sxc(@(Dnn.Module.ModuleID))._editContentGroupConfig = {
			tabBaseUrl: "@this.Dnn.Tab.FullUrl",
			langConf: {
				languages: @Sexy.ContentContext.Dimensions.GetLanguages().Where(l => l.Active).OrderByDescending(l => l.ExternalKey.ToLower() == Dnn.Portal.DefaultLanguage.ToLower()).ThenBy(l => l.ExternalKey).Select(l =>
				           {
					           var key = l.ExternalKey.ToLower();
					           return new {name = l.Name, key};
				           }).ToArray().ToJson(),
				defaultLanguage: '@Dnn.Portal.DefaultLanguage.ToLower()',
				currentLanguage: '@Dnn.Portal.CultureCode.ToLower()'
			}
		};
	});
</script>

<link rel="stylesheet" href="@Href("~/DesktopModules/ToSIC_SexyContent/bower_components/bootstrap/dist/css/bootstrap.min.css")">
<link rel="stylesheet" href="@Href("~/DesktopModules/ToSIC_SexyContent/bower_components/bootstrap/dist/css/bootstrap-theme.min.css")">
<link rel="stylesheet" href="@Href("~/DesktopModules/ToSIC_SexyContent/Js/AngularJS/angular-ui-tree.min.css")">

<link rel="stylesheet" href="@Href("fieldtemplates/templates/entity-default.css")">
<link rel="stylesheet" href="@Href("localization/localization-menu.css")" />

<script src="@Href("~/DesktopModules/ToSIC_SexyContent/js/angularjs/angular.min.js")"></script>
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/js/angularjs/angular-resource.min.js")"></script>
@*<script src="@Href("~/DesktopModules/ToSIC_SexyContent/js/angularjs/angular-animate.min.js")"></script>*@
@*<script src="@Href("~/DesktopModules/ToSIC_SexyContent/js/angularjs/toaster.js")"></script>*@
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/js/2sxc.api.js")"></script>
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/js/angularjs/2sxc4ng.min.js")"></script>
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/Js/AngularJS/angular-ui-tree.min.js")"></script>
<script src="@Href("localization/eav-localization.js")"></script>
<script src="@Href("fieldtemplates/eav-fieldtemplates.js")"></script>
<script src="@Href("fieldtemplates/sxc-fieldtemplates.js")"></script>
<script src="@Href("edit-entity.js")"></script>
<script src="@Href("edit-contentgroup.js")"></script>
<script src="@Href("edit-contentgroup-dnnwrapper.js")"></script>

<!-- Required by angular-google-maps (GPS field control) -->
<script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/js/angularjs/angular-google-maps.min.js")"></script>
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/js/angularjs/lodash.min.js")"></script>


<!-- apiCheck is used by formly to validate its api -->
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/bower_components/api-check/dist/api-check.min.js")"></script>
<!-- This is the current state of master for formly core. -->
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/bower_components/angular-formly/dist/formly.min.js")"></script>
<!-- This is the current state of master for the bootstrap templates -->
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/bower_components/angular-formly-templates-bootstrap/dist/angular-formly-templates-bootstrap.min.js")"></script>
	
<!-- AngularUI (angular bootstrap components), needed at least for datetime picker -->
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")"></script>