@using System.Linq
@using DotNetNuke.Common.Utilities
@using ToSic.SexyContent
@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage

<div style="max-width:640px; padding:20px;">
	<div sxc-app="testModule" id="editEntity@(Dnn.Module.ModuleID)" ng-controller="outerAppController as vm">
		<eav-language-switcher></eav-language-switcher>

		<div ng-repeat="entityToEdit in vm.entitiesToEdit">
			<h2>{{entityToEdit.editControlTitle}}</h2>
			<eav-edit-entity content-type-name="{{entityToEdit.contentTypeName}}" entity-id="{{entityToEdit.entityId}}" register-edit-control="vm.registerEditControl"></eav-edit-entity>
		</div>
		<button ng-disabled="!vm.isValid()" ng-click="vm.save()" class="btn btn-primary submit-button">Save</button>
	</div>
</div>

<script type="text/javascript">
	@{
		var appId = SexyContent.GetAppIdFromModule(Dnn.Module);
		var zoneId = SexyContent.GetZoneID(Dnn.Module.PortalID);
		var Sexy = new SexyContent(zoneId.Value, appId.Value, true, Dnn.Module.OwnerPortalID);
	}

	// Define some internal properties that the edit dialog must know (webforms bridge)
	$(document).ready(function() {
		$2sxc(@(Dnn.Module.ModuleID))._editContentGroupConfig = {
			tabBaseUrl: "@this.Dnn.Tab.FullUrl",
			langConf: {
				languages: @Sexy.ContentContext.Dimensions.GetLanguages().Where(l => l.Active).OrderBy(l => l.ExternalKey).Select(l =>
				           {
					           var key = l.ExternalKey.ToLower();
					           return new {name = l.Name, key};
				           }).ToArray().ToJson(),
				defaultLanguage: '@Dnn.Portal.DefaultLanguage.ToLower()',
				currentLanguage: '@Dnn.Portal.CultureCode.ToLower()'
			}
		};
	});
</script>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="@Href("~/DesktopModules/ToSIC_SexyContent/Js/AngularJS/angular-ui-tree.min.css")">

<link rel="stylesheet" href="@Href("FieldTemplates/Templates/entity-default.css")">
<link rel="stylesheet" href="@Href("Localization/LocalizationMenu.css")" />

<link rel="stylesheet" href="@Href("~/DesktopModules/ToSIC_SexyContent/js/angularjs/toaster.css")" />
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/js/angularjs/angular.min.js")"></script>
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/js/angularjs/angular-resource.min.js")"></script>
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/js/angularjs/angular-animate.min.js")"></script>
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/js/angularjs/toaster.js")"></script>
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/js/2sxc.api.js")"></script>
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/js/angularjs/2sxc4ng.min.js")"></script>
<script src="@Href("~/DesktopModules/ToSIC_SexyContent/Js/AngularJS/angular-ui-tree.min.js")"></script>
<script src="@Href("Localization/EavLocalization.js")"></script>
<script src="@Href("FieldTemplates/EavFieldTemplates.js")"></script>
<script src="@Href("FieldTemplates/SxcFieldTemplates.js")"></script>
<script src="@Href("EditEntity.js")"></script>
<script src="@Href("EditContentGroup.js")"></script>

<!-- apiCheck is used by formly to validate its api -->
<script src="@Href("lib/api-check.js")"></script>
<!-- This is the current state of master for formly core. -->
<script src="@Href("lib/formly.min.js")"></script>
<!-- This is the current state of master for the bootstrap templates -->
<script src="@Href("lib/angular-formly-templates-bootstrap.min.js")"></script>
	
<!-- AngularUI (angular bootstrap components), needed at least for datetime picker -->
<script src="@Href("lib/ui-bootstrap-tpls-0.13.2.min.js")"></script>