@page
@using ToSic.Eav.Apps
@using ToSic.Eav.Apps.Internal
@inject IAppStateCacheService AppStateCacheService
@{
    ViewData["Title"] = "First Read Data from EAV";

    // #2sxcIntegration
    var appIdentity = IntegrationConstants.AppIdentity;
    var appState = AppStateCacheService.Get(appIdentity);
    var firstItem = appState.List.FirstOrDefault();
}

<h1>@ViewData["Title"]</h1>

<p>
  Here you should see data from EAV
</p>

<div>
  Reading data from EAV Zone/App: @appIdentity.ZoneId / @appIdentity.AppId
</div>

<ol>
  <li>State Object: @appState</li>
  <li>List Object: @appState.List</li>
  <li>List Count: @appState.List.Count</li>
  <li>First: @firstItem</li>
  <li>Title of first item: @firstItem?.GetBestTitle()</li>
  <li>FirstItem modified: @firstItem?.Modified</li>
</ol>
