@using ToSic.Sxc.OqtaneModule.Services
@using ToSic.Sxc.OqtaneModule.Models

@namespace ToSic.Sxc.OqtaneModule
@inherits ModuleBase
@inject ISxcService SxcService
@inject NavigationManager NavigationManager

<table class="table table-borderless">
    <tr>
        <td>
            <Label For="name" HelpText="Enter a name">Name: </Label>
        </td>
        <td>
            <input id="name" class="form-control" @bind="@_name" />
        </td>
    </tr>
</table>
<button type="button" class="btn btn-success" @onclick="Save">Save</button>
<NavLink class="btn btn-secondary" href="@NavigateUrl()">Cancel</NavLink>
<br />
<br />
@if (PageState.Action == "Edit")
{
    <AuditInfo CreatedBy="@_createdby" CreatedOn="@_createdon" ModifiedBy="@_modifiedby" ModifiedOn="@_modifiedon"></AuditInfo>
}

@code {
    public override SecurityAccessLevel SecurityAccessLevel => SecurityAccessLevel.Edit;

    public override string Actions => "Add,Edit";

    public override string Title => "Manage Sxc";

    public override List<Resource> Resources => new List<Resource>()
    {
        new Resource { ResourceType = ResourceType.Stylesheet, Url = ModulePath() + "Module.css" }
    };

    int _id;
    string _name;
    string _createdby;
    DateTime _createdon;
    string _modifiedby;
    DateTime _modifiedon;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (PageState.Action == "Edit")
            {
                _id = Int32.Parse(PageState.QueryString["AppIdentity"]);
                Sxc Sxc = await SxcService.GetSxcAsync(_id, ModuleState.ModuleId);
                if (Sxc != null)
                {
                    _name = Sxc.Name;
                    _createdby = Sxc.CreatedBy;
                    _createdon = Sxc.CreatedOn;
                    _modifiedby = Sxc.ModifiedBy;
                    _modifiedon = Sxc.ModifiedOn;
                }
            }
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Loading Sxc {SxcId} {Error}", _id, ex.Message);
            AddModuleMessage("Error Loading Sxc", MessageType.Error);
        }
    }

    private async Task Save()
    {
        try
        {
            if (PageState.Action == "Add")
            {
                Sxc Sxc = new Sxc();
                Sxc.ModuleId = ModuleState.ModuleId;
                Sxc.Name = _name;
                Sxc = await SxcService.AddSxcAsync(Sxc);
                await logger.LogInformation("Sxc Added {Sxc}", Sxc);
            }
            else
            {
                Sxc Sxc = await SxcService.GetSxcAsync(_id, ModuleState.ModuleId);
                Sxc.Name = _name;
                await SxcService.UpdateSxcAsync(Sxc);
                await logger.LogInformation("Sxc Updated {Sxc}", Sxc);
            }
            NavigationManager.NavigateTo(NavigateUrl());
        }
        catch (Exception ex)
        {
            await logger.LogError(ex, "Error Saving Sxc {Error}", ex.Message);
            AddModuleMessage("Error Saving Sxc", MessageType.Error);
        }
    }
}
