<!DOCTYPE html>
@using ToSic.Sxc.Mvc.Web
@inject MvcPageProperties PageProperties
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="wAppIdentityth=device-wAppIdentityth, initial-scale=1.0" />
  <title>@ViewData["Title"] - Website</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  @* For now - include jquery on the top*@
  <script src="~/lib/jquery/dist/jquery.min.js"></script>

  @* DynamicHeaders from the page *@
  @PageProperties.FinalHeaders()
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
        <a class="navbar-brand" asp-area="" asp-page="/Index">Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Basic Experiments
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="nav-link text-dark" asp-area="" asp-page="/Exp/Eav/EavDi">Test basic Eav DI and Map-Path</a>
                <a class="nav-link text-dark" asp-area="" asp-page="/Exp/Eav/EavCore">Use EAV to access an app state</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link text-dark" asp-area="" asp-page="/Exp/UsePartials/CallPartialViewWithViewParams">Call Partial View with ViewParams</a>
                <a class="nav-link text-dark" asp-area="" asp-page="/Exp/RenderPartial/Contact">Render Partial - Contact Form</a>
                <a class="nav-link text-dark" asp-area="" asp-page="/Exp/RenderPartial/Render2">Model-Inner-Render of wwwwroot-file</a>
                <div class="dropdown-divider"></div>
                <a class="nav-link text-dark" asp-area="" asp-page="/Exp/PreconfiguredBase/Blog">Page which has a base class loading blog</a>
                <a class="nav-link text-dark" asp-area="" asp-page="/Exp/SpecialBase/CallingPartialWithViewParamsBase">Calling wwwroot component with ViewParams</a>
                <a class="nav-link text-dark" asp-area="" asp-page="/Exp/SpecialBase/CallWwwRunContent">Call RunContent on wwwroot</a>
                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-page="/Standalone/Standalone">Standalone</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-page="/Engine/TokenApp">Engine-Token</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" asp-area="" asp-page="/Engine/Blog">Engine-Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container">
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>

  <footer class="border-top footer text-muted">
    <div class="container">
      &copy; 2020 - Website - <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
  </footer>

  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>

  @RenderSection("Scripts", required: false)

  @* Dynamic Footer from the page *@
  @PageProperties.FinalFooter()
</body>
</html>
